<html>
  <head>
    <title>掲示板</title>
    <%= stylesheet_link_tag "commentboad" %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "comment_list" %>
    <meta http-equiv="Content-Language" content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <div class="commenttop">
        <div class="boardtitle">掲示板</div>
      </div>
      <div class="commentmiddle">
        <div id="comment_list"></div>
        <div id="error_area"></div>
        <% form_for(:comment) do |f| -%>
          <dl>
            <dt> <span>▼</span>名前</dt>
            <dd>
            <%= f.text_field(:user_name) %>
            </dd>
          </dl>
          <dl>
            <dt>
            <span>
              ▼</span>
            コメント</dt>
            <dd>
            <%= f.text_area(:body,:rows=>5,:cols=>30) -%><br/>
            <input type="button" value="書き込む" id="register_comment">
            </dd>
          </dl>
        <% end -%>
      </div>
      <div class="commentbottom">
      </div>
    </div>
  </body>
</html>
